<div class="col-md-12 header-container">
	<div class="col-md-2">
		<ul>
			<li><a class="active" href="#home">Admin</a></li>
		</ul>
	</div>
	<div class="col-md-10">
		<div class="panelStyle">
			<div class="row">
				<div class="cmngrid-list top-grid ng-table-heading">
					<table ng-table="usersTable" class="table table-striped" show-filter="false" cellspacing="0">
						<tr  ng-repeat="user in $data">
							<td data-title="'Id'" sortable="'id'">{{user.id}}</td>
							<td data-title="'First Name'" sortable="'firstName'">{{user.firstName}}</td>
							<td data-title="'Last Name'" sortable="'lastName'">{{user.lastName}}</td>
							<td data-title="'Age'" sortable="'age'">{{user.age}}</td>
							<td data-title="'Gender'" sortable="'gender'">{{user.gender}}</td>
							<td data-title="'Education'" sortable="'education'">{{user.education}}</td>
							<td data-title="'Religion'" sortable="'religion'">{{user.religion}}</td>
							<td data-title="'Occupation'" sortable="'occupation'">{{user.occupation}}</td>
							<td data-title="'Location'" sortable="'location'">{{user.location}}</td>
							<td data-title="'AnnualIncome'" sortable="'annualIncome'">{{user.annualIncome}}</td>
							<td data-title="'Edit'">
								<button type="button" class="glyphicon glyphicon-pencil"
									data="{{user.id}}" ng-click="updateData(user)"></button></td>
							<td data-title="'Delete'">
								<button type="button" class=" glyphicon glyphicon-remove-circle"
									data="{{user.id}}" ng-click="deleteData(user.id)"></button>

							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- <style>
body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
 .frame {
            height: 49px;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid #ddd;
            background: #A9BCF5;
        }

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

</style>
 -->




