<div class="container bs-docs-container">
	<div class="col-md-12">
		<div class="loginbox-container">
		<div class="loginbox">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="loginLeftBlock">
							<img class="loginImage" src="./images/Login.jpg">
						</div>
					</div>
					<div class="col-md-8 col-sm-8 borderLeft">
						<div class="loginLeftBlock">
							<div class="appName">
								<label class="control-label"><h3>Admin Login</h3></label>
							</div>
						</div>
						<form class="form-horizontal" name="loginForm" novalidate>
							<div class="form-horizontal">
								<div class="form-group required">
									<label for="username" class="col-sm-4 control-label">Username</label>
									<div class="col-sm-8" ng-class="{ 'has-error' : loginForm.username.$invalid && submitted }" tooltip-placement="top"
             				tooltip-trigger="mouseenter" tooltip-enable="loginForm.username.$invalid && submitted" uib-tooltip="Please enter username">
										<input type="text" class="form-control" id="username"
											name="username" ng-model="username" required autofocus>
									</div>
								</div>
				
								<div class="form-group required">
									<label for="inputPassword3" class="col-sm-4 control-label">Password</label>
									<div class="col-sm-8" ng-class="{ 'has-error' : loginForm.password.$invalid && submitted }" tooltip-placement="top"
             				tooltip-trigger="mouseenter" tooltip-enable="loginForm.password.$invalid && submitted" uib-tooltip="Please enter password">
										<input type="password" class="form-control" name="password" ng-model="password"
											id="password" required>
									</div>
								</div>
	
								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-8">
										<button type="submit" class="callToAction" ng-click="submitted=true;save();">Submit</button>
										<button type="submit" class="callToAction" ng-click="closeThisDialog()">Close</button>
									</div>
								</div>
				
								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-8">
										<a href="#">ForgetPassword</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>